<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> คูปองของฉัน </title>

    <!-- TailwindCSS -->
    <link href="/stylesheets/output.css" rel="stylesheet" />

</head>
<body class="bg-background ">

<!-- Navbar-->
<nav class="bg-transparent max-w-screen">
    <div class="max-w-full flex fixed m-5 top-0 items-center justify-between p-4">
        <a id="rewardPage" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="images/LOGO_KasetFairVerse.png" class="h-8" />
            <span class="self-center font-semibold text-blue whitespace-nowrap dark:text-white"> KASETFAIR VERSE </span>
        </a>
        <div class="flex md:order-2 items-center">
            <div>
                <button class="border border-primary rounded-md font-semibold max-w-fit mx-0 bg-white">
                    <a href="/login">Log in</a>
                </button>
            </div>
        </div>
    </div>
</nav>

</body>
</html>