<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> คูปองของฉัน </title>

    <!-- TailwindCSS -->
    <link href="/stylesheets/output.css" rel="stylesheet" />

</head>
<body class="bg-background ">

<!-- Navbar-->
<nav class="bg-transparent max-w-screen">
    <div class="max-w-full flex fixed m-5 top-0 items-center justify-between p-4">
        <a id="rewardPage" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="images/LOGO_KasetFairVerse.png" class="h-8" />
            <span class="self-center font-semibold text-blue whitespace-nowrap dark:text-white"> KASETFAIR VERSE </span>
        </a>
    </div>
</nav>

<!-- content -->
<div class="flex flex-col mx-auto pt-12 lg:px-16 container">
    <div class="flex flex-col lg:flex-row items-center justify-center w-full ">
        <h1 class="text-4xl lg:text-6xl text-blue font-bold">
            คูปองของฉัน
        </h1>
    </div>



    <div class="bg-white lg:pt-6 lg:py-6 p-6 border rounded-md  my-4 flex flex-col lg:flex-col items-center flex-wrap">

        <% for (let i in user_coupons_list) {%>

        <section class="p-1">
            <!--card-->
            <div class="container mx-auto">
                <div class="flex flex-col lg:flex-row bg-secondary text-white text-center py-4 px-20 rounded-lg shadow-xl relative">

                    <div class="flex flex-col">
                        <h3 class="text-md sm:text-xl font-semibold "> <%= user_coupons_list[i].reward.name %> </h3>
                        <h4 class="text-sm font-semibold mb-2"> <%= user_coupons_list[i].reward.from %> </h4>

                        <button type="button"
                                id="button_<%= user_coupons_list[i].coupon_uuid %>"
                                data-te-toggle="modal"
                                data-te-target="#_<%= user_coupons_list[i].coupon_uuid %>"
                                class="border border-white hover:bg-gray-100 bg-white text-primary text-sm sm:text-md px-4 py-2 rounded-lg cursor-pointer">ดูรายละเอียด</button>
                    </div>

                    <div class="w-12 h-12 bg-white rounded-full absolute top-1/2 transform -translate-y-1/2 left-0 -ml-6"></div>
                    <div class="w-12 h-12 bg-white rounded-full absolute top-1/2 transform -translate-y-1/2 right-0 -mr-6"></div>

                </div>
            </div>
        </section>

        <!--Modal -->
        <div
                data-te-modal-init
                class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
                id="_<%= user_coupons_list[i].coupon_uuid %>"
                tabindex="-1"
                aria-modal="true"
                role="dialog">
            <div data-te-modal-dialog-ref
                 class="pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[600px]">
                <div class="pointer-events-auto relative p-2 flex w-full flex-col rounded-md border-none bg-secondary bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
                    <!-- coupon -->
                    <div class="flex flex-shrink-0 justify-between rounded-t-md border-neutral-100 border-opacity-100 p-4">
                        <div class="container mx-auto">
                            <div class="grid grid-rows-1 sm:grid-cols-2 bg-white text-white py-4 px-10 rounded-lg relative">

                                <section class="flex flex-col text-gray-900">
                                    <div class="text-xl font-semibold"> คูปองแลกของรางวัล </div>
                                    <div> <u>เจ้าของคูปอง:</u><br> <%= user_coupons_list[i].user.username %> </div>
                                    <div> <u>ของรางวัล:</u><br> <%= user_coupons_list[i].reward.name %> <%= user_coupons_list[i].reward.from %> </div>
                                    <div class="text-lg font-semibold"> <br> เงื่อนไข </div>
                                    <div>
                                        - แลกคูปองที่คณะบริหารธุรกิจ <br>
                                        ม.เกษตรศาสตร์ บางเขน  <br>
                                        - แลกคูปองก่อนวันที่ 10 ก.พ. 67 <br>
                                        เวลา 11.00 - 15.00 น. <br>
                                        หรือเวลา 15.00 - 19.00 น. <br>

                                    </div>
                                </section>

                                <section class="pt-8 sm:pt-0 flex flex-col text-gray-900 items-center">
                                    <div class="">
                                        <img src="data:image/png;base64,<%= user_coupons_list[i].qr_code.toString('base64') %>" class="w-40 mx-auto rounded-lg">
                                    </div>
                                    <div class="font-semibold">
                                        <br> รหัสคูปอง
                                    </div>
                                    <div>
                                        <p class="text-center">
                                            <%= user_coupons_list[i].coupon_uuid %>
                                        </p>
                                    </div>
                                    <!-- coupon shape -->
                                    <div class="w-12 h-12 bg-secondary rounded-full absolute top-1/2 transform -translate-y-1/2 left-0 -ml-6"></div>
                                    <div class="w-12 h-12 bg-secondary rounded-full absolute top-1/2 transform -translate-y-1/2 right-0 -mr-6"></div>
                                </section>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% } %>

    </div>

</div>

<script nonce="<%= nonce %>">

    btn = document.getElementById("button_<%= first_popup %>");
    document.addEventListener('DOMContentLoaded', function() {
        btn.click();
    });

    // Get the current URL
    const currentUrl = window.location.href;

    // Create a URL object from the current URL
    const url = new URL(currentUrl);

    // Get the search part of the URL, including the '?'
    const searchParams = url.search;

    // Create a URLSearchParams object from the search part
    const urlSearchParams = new URLSearchParams(searchParams);

    // Get the value of the 'access_token' parameter
    const accessToken = urlSearchParams.get('access_token');

    // Now you can use the 'accessToken' variable wherever you need it
    console.log(currentUrl, accessToken);

    rewardPage.href = "/reward?access_token=" + accessToken;

</script>

<!-- TW Elements JavaScript -->
<script src="/tw-elements/dist/js/tw-elements.umd.min.js" type="text/javascript"></script>

</body>
</html>