<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> แลกคูปอง </title>

    <!-- TailwindCSS -->
    <link href="/stylesheets/output.css" rel="stylesheet" />

</head>
<body class="bg-background">
<!-- TW Elements JavaScript -->
<script src="/tw-elements/dist/js/tw-elements.umd.min.js" type="text/javascript"></script>

<!-- Navbar-->
<nav class="bg-transparent max-w-screen">
    <div class="max-w-full max-w-screen fixed flex m-5 top-0 items-center justify-between p-4 gap-2 drop-shadow-lg">
        <a id="rewardPage" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="images/LOGO_KasetFairVerse.png" class="h-12" />
            <span class="self-center font-semibold text-blue whitespace-nowrap dark:text-white"> KASETFAIR VERSE </span>
        </a>
    </div>
</nav>

<!-- content -->
<div class="flex flex-col mx-auto pt-24 pb-4 lg:px-16 container">
    <div class="flex flex-col lg:flex-row items-center justify-center w-full pb-2">
        <h1 class="text-4xl lg:text-6xl text-blue font-bold drop-shadow-xl">
            ดาวของฉัน
        </h1>
    </div>

    <div class="bg-white lg:pt-6 lg:py-6 p-6 border rounded-md  my-4 flex flex-col lg:flex-col items-center flex-wrap">
        <section>
            <form id="selectStarForm">

                <h3 class="mb-5 text-xl font-semibold text-blue underline flex items-center justify-center font-semibold"> ดาวที่คูณยังไม่ใช้ </h3>

                <div class="flex items-center justify-center px-4 pb-4 text-orange-500 font-semibold">
                    <p class="text-center">
                        คุณสามารถถือดาวได้ไม่เกิน 100 ดวง ต่อชนิด หากคุณมีดาวครบ 100 ดวงแล้ว จะไม่สามารถได้รับดาวเพิ่มเติมได้อีก จนกว่าคุณจะใช้ดาวที่ถืออยู่
                    </p>
                </div>

                <div class="grid grid-cols-2 gap-6 sm:grid-cols-4">
                    <% for (let i = 0; i < 4; i++) { %>
                    <div>
                        <input type="checkbox" id="<%= star_div_list[i].code_name %>" name="<%= star_div_list[i].code_name %>" class="hidden peer"
                        disabled>

                        <label for="<%= star_div_list[i].code_name %>" class="<%= star_div_list[i].style %> text-y">
                            <div class="items-center justify-center">
                                <div class="text-lg font-semibold flex justify-center items-center"> <%= star_div_list[i].display.name %> </div>
                                <div class="flex justify-center items-center drop-shadow-xl <% if (star_div_list[i].amount < 1) { %>grayscale<% } %>"><img src="<%= star_div_list[i].display.image %>" width="75" class=""></div>

                                <div class="text-md font-medium flex justify-center items-center
                                <% if (star_div_list[i].amount < 1) { %> text-red <% } if (star_div_list[i].amount == 1) { %> text-yellow-600 <% } if (star_div_list[i].amount > 99) { %> text-orange-500 <% } %>">
                                    x<%= star_div_list[i].amount %>
                                </div>

                            </div>
                        </label>
                    </div>
                    <% } %>
                </div>

                <div class="lg:px-16 pt-10 grid grid-cols-2 gap-6 sm:grid-cols-3">
                    <% for (let j = 4; j < star_div_list.length; j++) { %>
                    <div>
                        <input type="checkbox" id="<%= star_div_list[j].code_name %>" name="<%= star_div_list[j].code_name %>" class="hidden peer"
                        disabled>
                        <label for="<%= star_div_list[j].code_name %>" class="<%= star_div_list[j].style %>">
                            <div class="items-center justify-center">
                                <div class="text-lg font-semibold flex justify-center items-center"> <%= star_div_list[j].display.name %> </div>
                                <div class="flex justify-center items-center drop-shadow-xl <% if (star_div_list[j].amount < 1) { %>grayscale<% } %>"><img src="<%= star_div_list[j].display.image %>" width="75" class=""></div>
                                <div class="text-md font-medium flex justify-center items-center
                                <% if (star_div_list[j].amount < 1) { %> text-red <% } if (star_div_list[j].amount == 1) { %> text-yellow-600 <% } if (star_div_list[j].amount > 99) { %> text-orange-500 <% } %>">
                                    x<%= star_div_list[j].amount %>
                                </div>
                            </div>
                        </label>
                    </div>
                    <% } %>
                </div>

                <div class="flex items-center justify-center px-4 py-4 font-semibold">
                    <p class="text-center text-red">
                        ดาว TheDrink สามารถได้รับเพียง 6 ครั้งเท่านั้น (ตามจำนวนฉากจบในเกม) <br> และ ดาว HoldYourBasket สามารถได้รับเพียง 1 ครั้งเท่านั้น
                    </p>
                </div>

                <div class="flex items-center justify-center px-4 pt-6 font-semibold">
                    <p class="text-center text-blue text-lg">
                        และตอนนี้คุณมีดาวทั้งหมด <span class="text-orange-500 text-2xl font-semibold"> <%= total_star %> ⭐</span>
                    </p>

                </div>
                <div class="flex items-center justify-center px-4 pb-6 font-semibold">
                    <p class="text-center text-blue text-lg">
                        (นับรวมดาวที่ใช้แล้ว)
                    </p>
                </div>

                <div class="flex flex-col pt-5 items-center justify-center">
                    <a id="rewardPageButton">
                        <button type="button" class="text-xl bg-primary hover:bg-secondary hover:text-gray-900  text-white font-semibold py-2 px-4 border border-gray-400 rounded-3xl shadow">
                            กลับหน้าหลัก
                        </button>
                    </a>
                </div>

            </form>
        </section>

    </div>

</div>

<script nonce="<%= nonce %>">

    // Get the current URL
    const currentUrl = window.location.href;

    // Create a URL object from the current URL
    const url = new URL(currentUrl);

    // Get the search part of the URL, including the '?'
    const searchParams = url.search;

    // Create a URLSearchParams object from the search part
    const urlSearchParams = new URLSearchParams(searchParams);

    // Get the value of the 'access_token' parameter
    const accessToken = urlSearchParams.get('access_token');

    // Now you can use the 'accessToken' variable wherever you need it
    console.log(currentUrl, accessToken);

    rewardPage.href = "/reward?access_token=" + accessToken;
    rewardPageButton.href = "/reward?access_token=" + accessToken;

</script>

<!-- TW Elements JavaScript -->
<script src="/tw-elements/dist/js/tw-elements.umd.min.js" type="text/javascript"></script>
</body>
</html>