<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> แลกคูปอง </title>

    <!-- TailwindCSS -->
    <link href="/stylesheets/output.css" rel="stylesheet" />

</head>
<body class="bg-background">
<!-- TW Elements JavaScript -->
<script src="/tw-elements/dist/js/tw-elements.umd.min.js" type="text/javascript"></script>

<!-- Navbar-->

<nav class="bg-transparent">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between p-4">
        <a href="/reward" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="images/LOGO_KasetFairVerse.png" class="h-8" alt="Flowbite Logo" />
            <span class="self-center font-semibold text-blue whitespace-nowrap dark:text-white"> KASETFAIR VERSE </span>
        </a>
    </div>
</nav>

<!-- content -->
<div class="flex flex-col mx-auto p-16 pt-0 container">
    <div class="flex flex-col lg:flex-row items-center justify-center w-full p-8">
        <h1 class="text-3xl text-white ">
            แลกของรางวัล
        </h1>
    </div>

    <div class="bg-white lg:pl-16 lg:py-16 p-16 border rounded-md my-5 flex flex-col lg:flex-col items-center w-full">
        <!-- info -->
        <div>
            <p class="text-14px font-semibold text-blue">
                ยินดีต้อนรับสู่หน้าแลกคูปอง คุณสามารถนำดาวจากการเล่นเกมต่าง ๆ ในซุ้มมาแลกเป็นคูปอง เพื่อแลกรับของรางวัลภายในงานเกษตรแฟร์
            </p>
            <p class="text-14px font-semibold text-red pt-5 ">
                หากคุณเก็บครบ 7 ดาว รับไปเลย ฟรี ! ตั๋วหนังเมเจอร์ (โดยไม่ต้องแลก)
            </p>
        </div>

        <!-- รายการของรางวัล -->
        <div>
            <h2 class="text-2xl underline py-10">
                รายการของรางวัล
            </h2>
        </div>

        <div class="grid grid-cols-2 gap-20 lg:gap-x-44 lg:grid-cols-5 ">
            <div class="gird grid-rows-1 items-center justify-center">
                <h3 class="">
                    นมเกษตร
                </h3>
                <h4>
                    1 ดาว
                </h4>
            </div>


        </div>
    </div>
</div>

<footer>
    <div class="" style="">
        เดี๋ยวค่อยใส่ภาพ
    </div>
</footer>
</html>