<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> แลกคูปอง </title>

    <!-- TailwindCSS -->
    <link href="/stylesheets/output.css" rel="stylesheet" />

</head>
<body class="bg-background">
<!-- TW Elements JavaScript -->
<script src="/tw-elements/dist/js/tw-elements.umd.min.js" type="text/javascript"></script>

<!-- Navbar-->
<nav class="bg-transparent max-w-screen">
    <div class="max-w-full max-w-screen fixed flex m-5 top-0 items-center justify-between p-4 gap-2 drop-shadow-lg">
        <a id="rewardPage" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="images/LOGO_KasetFairVerse.png" class="h-12" />
            <span class="self-center font-semibold text-blue whitespace-nowrap dark:text-white"> KASETFAIR VERSE </span>
        </a>
    </div>
</nav>

<!-- content -->
<div class="flex flex-col mx-auto pt-24 pb-4 lg:px-16 container">
    <div class="flex flex-col lg:flex-row items-center justify-center w-full pb-2">
        <h1 class="text-4xl lg:text-6xl text-blue font-bold drop-shadow-xl">
            แลกคูปอง
        </h1>
    </div>

    <div class="bg-white lg:pt-6 lg:py-6 p-6 border rounded-md  my-4 flex flex-col lg:flex-col items-center flex-wrap">
        <section>
            <form id="selectStarForm" method="post">
                <h3 class="mb-5 text-lg font-semibold text-blue underline flex items-center justify-center font-semibold"> เลือกดาวที่ต้องการใช้ </h3>

                <div class="flex items-center justify-center px-4 pb-4 text-orange-500 font-semibold">
                    <p class="text-center">
                        คุณสามารถถือดาวได้ไม่เกิน 100 ดวง ต่อชนิด หากคุณมีดาวครบ 100 ดวงแล้ว จะไม่สามารถได้รับดาวเพิ่มเติมได้อีก จนกว่าคุณจะใช้ดาวที่ถืออยู่
                    </p>
                </div>

                <div class="grid grid-cols-2 gap-6 sm:grid-cols-4">
                    <% for (let i = 0; i < 4; i++) { %>
                    <div>
                        <input type="checkbox" id="<%= star_div_list[i].code_name %>" name="<%= star_div_list[i].code_name %>" class="hidden peer"
                        <% if (star_div_list[i].amount < 1 || mode == "select_reward") { %>
                        disabled
                        <% } else if (star_div_list[i].force_checked) { %>
                        checked disabled
                        <% } %>
                        >

                        <label for="<%= star_div_list[i].code_name %>" class="<%= star_div_list[i].style %> text-y">
                            <div class="items-center justify-center">
                                <div class="text-lg font-semibold flex justify-center items-center"> <%= star_div_list[i].display.name %> </div>
                                <div class="flex justify-center items-center drop-shadow-xl <% if (star_div_list[i].amount < 1) { %>grayscale<% } %>"><img src="<%= star_div_list[i].display.image %>" width="75" class=""></div>

                                <div class="text-md font-medium flex justify-center items-center
                                <% if (star_div_list[i].amount < 1) { %> text-red <% } if (star_div_list[i].amount == 1) { %> text-yellow-600 <% } if (star_div_list[i].amount > 9) { %> text-orange-500 <% } %>">
                                    x<%= star_div_list[i].amount %>
                                </div>

                            </div>
                        </label>
                    </div>
                    <% } %>
                </div>

                <div class="lg:px-16 pt-10 grid grid-cols-2 gap-6 sm:grid-cols-3">
                    <% for (let j = 4; j < star_div_list.length; j++) { %>
                    <div>
                        <input type="checkbox" id="<%= star_div_list[j].code_name %>" name="<%= star_div_list[j].code_name %>" class="hidden peer"
                        <% if (star_div_list[j].amount < 1 || mode == "select_reward") { %>
                        disabled
                        <% } else if (star_div_list[j].force_checked) { %>
                        checked disabled
                        <% } %>
                        >
                        <label for="<%= star_div_list[j].code_name %>" class="<%= star_div_list[j].style %>">
                            <div class="items-center justify-center">
                                <div class="text-lg font-semibold flex justify-center items-center"> <%= star_div_list[j].display.name %> </div>
                                <div class="flex justify-center items-center drop-shadow-xl <% if (star_div_list[j].amount < 1) { %>grayscale<% } %>"><img src="<%= star_div_list[j].display.image %>" width="75" class=""></div>
                                <div class="text-md font-medium flex justify-center items-center
                                <% if (star_div_list[j].amount < 1) { %> text-red <% } if (star_div_list[j].amount == 1) { %> text-yellow-600 <% } if (star_div_list[j].amount > 9) { %> text-orange-500 <% } %>">
                                    x<%= star_div_list[j].amount %>
                                </div>
                            </div>
                        </label>
                    </div>
                    <% } %>
                </div>

                <div class="flex items-center justify-center px-4 py-4 text-red font-semibold">
                    <p class="text-center">
                    โปรดระวัง: ดาว TheDrink สามารถได้รับเพียง 6 ครั้งเท่านั้น (ตามจำนวนฉากจบในเกม) <br> และ ดาว HoldYourBasket สามารถได้รับเพียง 1 ครั้งเท่านั้น
                    </p>
                </div>

                <div class="gap-2 flex items-center justify-center <% if (mode == 'select_reward') { %> hidden <% } %>">
                    <button id="selectStar" type="button" class=" text-xl bg-primary hover:bg-secondary hover:text-gray-900 text-white font-semibold py-2 px-4 border border-gray-400 rounded-3xl shadow">
                        ⬇ เลือกของรางวัล ⬇
                    </button>
                    <button hidden id="selectStarConFirm" type="submit" class=" p-1 text-xl bg-orange-300 text-white font-semibold py-2 px-4 rounded-3xl shadow cursor-wait">
                        กำลังโหลดรายการของรางวัล...
                    </button>
                </div>

            </form>
        </section>

        <section class="pt-1" <% if (mode == "select_star") { %> hidden <% } %>>
            <div class="flex items-center justify-center p-4">
                <a id="cancelSelected">
                    <button type="button" class=" text-xl bg-rose-600 hover:bg-rose-400 hover:text-gray-900 text-white font-semibold py-2 px-4 border border-gray-400 rounded-3xl shadow">
                        ยกเลิกการเลือก
                    </button>
                </a>
            </div>
            <h3 class="pt-10 mb-5 text-lg font-semibold text-blue underline flex items-center justify-center"> กรุณาเลือกของรางวัลที่ต้องการ </h3>
        <form id="selectRewardForm" method="post">
            <ul>
                <% for (let i in trade_able_reward_list) { %>
                <li>
                    <div class="p-1">
                        <input type="checkbox" id="<%= trade_able_reward_list[i].code_name %>" name="<%= trade_able_reward_list[i].code_name %>" class="hidden peer" <% if (trade_able_reward_list[i].stock_left < 1) { %>disabled<% } %>>
                        <label for="<%= trade_able_reward_list[i].code_name %>" class="flex flex-col w-full p-5 text-gray-900 bg-gray-50 border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-primary peer-checked:drop-shadow-lg <% if (trade_able_reward_list[i].stock_left > 0) { %> hover:bg-secondary hover:bg-opacity-30<% }%>">
                            <div class="items-center justify-center">
                                <div class="text-lg font-semibold flex justify-center items-center"> <%= trade_able_reward_list[i].reward %> </div>
                            </div>
                            <div class="items-center justify-center">
                                <% if (trade_able_reward_list[i].stock_left < 1) { %>
                                <div class="text-md text-red flex justify-center items-center"> ของหมด </div>
                                <% } else { %>
                                <% if (trade_able_reward_list[i].stock_left < 2) { %>
                                <div class="text-md text-orange-500 flex justify-center items-center"> คงเหลือ <%= trade_able_reward_list[i].stock_left %> ชิ้น </div>
                                <% } else { %>
                                <div class="text-md flex justify-center items-center"> คงเหลือ <%= trade_able_reward_list[i].stock_left %> ชิ้น </div>
                                <% } %>
                                <% } %>
                            </div>
                        </label>
                    </div>
                </li>
                <% } %>
            </ul>

            <label for="passingSelectedStar" hidden><input type="text" id="passingSelectedStar" name="passingSelectedStar" hidden></label>

                <div class="gap-2 flex items-center justify-center pt-8">
                    <button id="selectReward" type="button" class=" text-xl bg-primary hover:bg-secondary hover:text-gray-900 text-white font-semibold py-2 px-4 border border-gray-400 rounded-3xl shadow">
                        แลกคูปอง
                    </button>
                    <button hidden id="selectRewardConFirm" type="button" class=" p-1 text-xl bg-primary hover:bg-secondary hover:text-gray-900 text-white font-semibold py-2 px-4 border border-gray-400 rounded-3xl shadow">
                        ✔ ยืนยัน
                    </button>
                    <button hidden id="selectRewardCancel" type="button" class=" p-1 text-xl bg-rose-600 hover:bg-rose-400 hover:text-gray-900 text-white font-semibold py-2 px-4 border border-gray-400 rounded-3xl shadow">
                        ❌ ยกเลิก
                    </button>
                    <button hidden id="selectRewardSubmit" type="submit" class=" p-1 text-xl bg-orange-300 text-white font-semibold py-2 px-4 rounded-3xl shadow cursor-wait">
                        กำลังแลกคูปอง...
                    </button>
                </div>
            </form>
        </section>
    </div>

    <section class="bg-white lg:p-16 lg:py-16 p-6 border rounded-md  mb-4 mt-1 flex flex-col lg:flex-col items-center flex-wrap">

        <!-- รายการของรางวัล -->
        <div>
            <h2 class="text-2xl underline py-10 text-blue font-semibold">
                รายการของรางวัล
            </h2>
        </div>
        <div class="grid grid-cols-2 gap-6 sm:gap-x-10 sm:grid-cols-3 lg:grid-cols-5 lg:gap-12 lg:grid-cols-5 shadow-sm p-2">
            <% for (let i = 0; i < reward_div_list.length; i++) { %>
            <div class="flex flex-col flex-wrap items-center justify-center w-full shadow-lg p-2 relative">

                <div class="bg-white rounded-lg flex flex-col lg:flex-col items-center h-24">
                    <img src="<%= reward_div_list[i].image %>" class="<% if (reward_div_list[i].reward_left <= 0) { %> grayscale <% } %>" width="75" >
                </div>

                <div>
                    <h3 class=" text-[14px] lg:text-[18px] text-blue">
                        <%= reward_div_list[i].reward[0] %>
                    </h3>
                </div>

                <h4 class="text-xs lg:text-[12px] text-blue">
                    <%= reward_div_list[i].reward[1] %>
                </h4>

                <h4 class="text-xs md:text-xs lg:text-[14px] text-orange-600 pt-2">
                    <%= reward_div_list[i].stars_use %>
                </h4>

                <% if (reward_div_list[i].reward_left <= 0) { %>
                <div class="w-14 h-14 bg-rose-500 rounded-full absolute transform -translate-y-1/2 center-0 ">
                    <div class="absolute justify-center items-center text-center text-white">
                        ของหมด
                    </div>
                </div>
                <% } %>

            </div>
            <% } %>
        </div>

        <p class="text-center text-[20px] font-semibold text-red  pt-10 ">
            ผู้เล่นที่ขยันเก็บสะสมดาว จะมีของรางวัลพิเศษให้!!
        </p>

    </section>

</div>

<script nonce="<%= nonce %>">

    const tradeAbleRewardList = [<%= reward_check_box_list %>];

    // add listener to all checkbox, if any checkbox is checked, other checkbox will be unchecked
    for (let i in tradeAbleRewardList){
        tradeAbleRewardList[i].addEventListener('change', function() {
            if (this.checked) {
                for (let j in tradeAbleRewardList){
                    if (tradeAbleRewardList[j] != this){
                        tradeAbleRewardList[j].checked = false;
                    }
                }
            }
        });
    }

    const starCheckBoxList = [<%= star_check_box_list %>];

    selectStar.addEventListener('click', function() {

        // check if any star checkbox is checked
        let isAnyStarChecked = false;
        for (let i in starCheckBoxList){
            console.log(starCheckBoxList[i])
            if (starCheckBoxList[i].checked){
                isAnyStarChecked = true;
                break;
            }
        }
        if (!isAnyStarChecked){
            window.alert("โปรดเลือกดาวที่ต้องการใช้ อย่างน้อย 1 ดาว\nหากคุณยังไม่มี สามารถได้รับดาวได้จากการเล่นเกมในซุ้มต่างๆ");
            return;
        }

        selectStar.hidden = true;
        selectStarConFirm.hidden = false;
        selectStarConFirm.click();
    });

    const rewardCheckBoxList = [<%= reward_check_box_list %>];

    selectReward.addEventListener('click', function() {

        // check if any reward checkbox is checked
        let isAnyStarChecked = false;
        for (let i in rewardCheckBoxList){
            console.log(rewardCheckBoxList[i])
            if (rewardCheckBoxList[i].checked){
                isAnyStarChecked = true;
                break;
            }
        }
        if (!isAnyStarChecked){
            window.alert("โปรดเลือกรางวัลที่ต้องการแลก!");
            return;
        }

        selectReward.hidden = true;
        selectRewardConFirm.hidden = false;
        selectRewardCancel.hidden = false;
    });

    selectRewardConFirm.addEventListener('click', function() {

        // check if any reward checkbox is checked
        let isAnyStarChecked = false;
        for (let i in rewardCheckBoxList){
            console.log(rewardCheckBoxList[i])
            if (rewardCheckBoxList[i].checked){
                isAnyStarChecked = true;
                break;
            }
        }
        if (!isAnyStarChecked){
            window.alert("โปรดเลือกรางวัลที่ต้องการแลก!");
            return;
        }

        selectRewardConFirm.hidden = true;
        selectRewardCancel.hidden = true;
        selectRewardSubmit.hidden = false;
        selectRewardSubmit.click();

    });

    selected_star = [<%= selected_star %>];
    for (let i in selected_star){
        passingSelectedStar.value += selected_star[i].id + ",";
        selected_star[i].checked = true;
    }


    // Get the current URL
    const currentUrl = window.location.href;

    // Create a URL object from the current URL
    const url = new URL(currentUrl);

    // Get the search part of the URL, including the '?'
    const searchParams = url.search;

    // Create a URLSearchParams object from the search part
    const urlSearchParams = new URLSearchParams(searchParams);

    // Get the value of the 'access_token' parameter
    const accessToken = urlSearchParams.get('access_token');

    // Now you can use the 'accessToken' variable wherever you need it
    console.log(currentUrl, accessToken);

    rewardPage.href = "/reward?access_token=" + accessToken;
    cancelSelected.href = "/trade_coupon?access_token=" + accessToken;
    selectStarForm.action = "/trade_coupon?access_token=" + accessToken;
    selectRewardForm.action = "/my_coupon?access_token=" + accessToken;

    selectRewardCancel.addEventListener('click', function() {
        // reload the page
        window.location.href = "/trade_coupon?access_token=" + accessToken;
    });


</script>

<!-- TW Elements JavaScript -->
<script src="/tw-elements/dist/js/tw-elements.umd.min.js" type="text/javascript"></script>
</body>
</html>