<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> แลกรางวัล </title>

  <!-- TailwindCSS -->
  <link href="/stylesheets/output.css" rel="stylesheet" />

</head>
<body class="bg-background">
<!-- TW Elements JavaScript -->
<script src="/tw-elements/dist/js/tw-elements.umd.min.js" type="text/javascript"></script>

<!-- Navbar-->
<nav class="bg-transparent">
  <div class="max-w-screen-xl flex-wrap fixed top-0 z-10 flex w-full items-center justify-between p-4">
      <img src="images/LOGO_KasetFairVerse.png" class="h-8" />
  </div>
</nav>


<div class="flex flex-col mx-auto pt-12 lg:px-16 container ">
  <div class="flex flex-col  items-center justify-center w-full ">

    <div class=" bg-white lg:pt-6 lg:py-6 p-6 border rounded-md  my-4 flex flex-col lg:flex-col items-center flex-wrap drop-shadow-lg">
      <section>
        <!--card-->
        <div class="container mx-auto">
          <div class="flex flex-col lg:flex-row bg-secondary text-white text-center py-4 px-20 rounded-lg shadow-md relative">
            <div class="container mx-auto">
              <div class="flex flex-col">
                <section class="flex flex-col text-gray-900">
                  <div class="text-lg font-semibold"> คูปองแลกของรางวัล </div>
                  <div> <u>เจ้าของคูปอง:</u> <br> <%= user.username %></div>
                  <div> <u>ของรางวัล:</u> <br> <%= reward.display.name %> <%= reward.display.from %> </div>
                  <div class="font-semibold"> <br> รหัสคูปอง </div>
                  <div><%= coupon.coupon_uuid %></div>
                  <!-- coupon shape -->
                  <div class="w-12 h-12 bg-white rounded-full absolute top-1/2 transform -translate-y-1/2 left-0 -ml-6"></div>
                  <div class="w-12 h-12 bg-white rounded-full absolute top-1/2 transform -translate-y-1/2 right-0 -mr-6"></div>
                </section>

              </div>
          </div>
        </div>
        </div>
      </section>

    </div>
<!--ปุ่ม-->
    <div class="flex flex-col items-center justify-center pt-5 ">
      <form action="/coupon_validation" method="post">

        <label for="coupon_uuid"><input type="text" value="<%= coupon.coupon_uuid %>" name="coupon_uuid" id="coupon_uuid" hidden></label>
        <div class="flex flex-col items-center justify-center">
        <div class="flex flex-col items-center justify-center">
          <label for="staff" class="text-center"> กรุณากรอกชื่อ หรือรหัสนิสิตของผู้มอบรางวัล </label>
        </div>
        </div>
        <div class="flex flex-col items-center justify-center">
          <input type="text" value="" name="staff" id="staff" placeholder="63104521.." class="text-center border-primary border-2 rounded" >
        </div>
        <div class="mt-4">
        <button id="accept" type="submit"
                class="flex items-center justify-center text-sm bg-primary hover:bg-secondary hover:text-gray-900  text-white font-semibold py-2 px-4 border border-gray-400 rounded-3xl shadow">
          มอบรางวัลแล้ว
        </button>
<!--        </div>-->
<!--        <div class="mt-1">-->
<!--          <button hidden id="accepted" type="submit"-->
<!--                  class="flex items-center justify-center text-sm bg-secondary text-gray-900 cursor-wait font-semibold py-2 px-4 border border-gray-400 rounded-3xl shadow ">-->
<!--            กำลังบันทึกข้อมูล...-->
<!--          </button>-->
<!--        </div>-->
        </div>
      </form>

      <a href="/claim_reward">
        <br>
        <button
                class="flex items-center justify-center text-sm bg-[#de0a26] hover:bg-[#f94449] hover:text-gray-900  text-white font-semibold py-2 px-4 border border-gray-400 rounded-3xl shadow">
          ยกเลิก
        </button>
      </a>
    </div>

  </div>
</div>

<script nonce="<%= nonce %>">

  // Get the current URL
  const currentUrl = window.location.href;

  // Create a URL object from the current URL
  const url = new URL(currentUrl);

  // Get the search part of the URL, including the '?'
  const searchParams = url.search;

  // Create a URLSearchParams object from the search part
  const urlSearchParams = new URLSearchParams(searchParams);

  // Get the value of the 'access_token' parameter
  const couponUuid = urlSearchParams.get('coupon_uuid');

  // Now you can use the 'accessToken' variable wherever you need it
  console.log(currentUrl, couponUuid);

  // accept.onclick = function() {
  //     accept.hidden = true;
  //     accepted.hidden = false;
  //     accept.click();
  // }

  accept.onclick = function() {
      alert("บันทึกข้อมูลเรียบร้อยแล้ว");
  }

  // accept.hidden = true;



</script>

<!-- TW Elements JavaScript -->
<script src="/tw-elements/dist/js/tw-elements.umd.min.js" type="text/javascript"></script>
</body>
</html>