<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KasetFairVerse API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <%= test.e %>
    <%= myfun() %>
    <%= test_q %>
</body>
</html>

<!--for loop-->
<!--<body>-->
<!--<h1>User List</h1>-->
<!--<ul>-->
<!--    <% for (let i = 0; i < users.length; i++) { %>-->
<!--    <li><%= users[i].name %></li>-->
<!--    <% } %>-->
<!--</ul>-->
<!--</body>-->